*.class

out/
bin/
build/
target/

.idea/
*.iml
*.iws
*.ipr

.classpath
.project
.settings/

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode/

.DS_Store
Thumbs.db

dados-jackut.ser
tests-gerados/

*.log
*.tmp
*.temp